@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: black;
}

h1, h2, h3, h4, p, a{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.home{
  background-image: url("./assets/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.project-container{
  background-image: url("./assets/bg6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.studies-container{
  height: 100vh;
  background-image: url("./assets/bg8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container{
  height: 100vh;
  background-image: url("./assets/bg7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}